﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Lockscreen</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="../../index2.html"><b>區塊鏈</b>公證系統</a>
        </div>
        <!-- User name -->
        <div class="lockscreen-name">選擇自然人憑證卡片</div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="../../dist/img/user1-128x128.jpg" alt="User Image">
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials">

                <div class="input-group input-group-sm">
                    <select class="form-control card-option">
                        <option>請選擇</option>

                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat login-btn" style="background-color: #00c0ef;position: relative;left: 1px;border-color: #00acd6;">Go!</button>
                    </span>
                </div>


              
                @*<div class="input-group">
            <input type="password" class="form-control" placeholder="password">
            <div class="input-group-btn">
                <button type="button" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
        </div>*@
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            Enter your password to retrieve your session
        </div>
        <div class="text-center">
            <a href="login.html">Or sign in as a different user</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2014-2016 <b><a href="https://adminlte.io" class="text-black">Almsaeed Studio</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->
    <!-- jQuery 3 -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
<script>
    $(function () {

        var img = null;
        var ctx;
        var output = "";
        var ua = window.navigator.userAgent;
        if (ua.indexOf("MSIE") == -1 && ua.indexOf("Trident") == -1) //not IE
        {
            img = document.createElement("img");
            img.crossOrigin = "Anonymous";
            img.src = 'http://localhost:61161/p11Image.bmp';
            var canvas = document.createElement("canvas");
            canvas.width = 2000; canvas.height = 1;
            ctx = canvas.getContext('2d');

            img.onload = function () {
                ctx.drawImage(img, 0, 0);
                output = getImageInfo(ctx);
                setOutput(output);
            };
            img.onerror = function () {
                alert("未安裝客戶端程式或未啟動服務");
                window.history.back();
                return;
            };
        } else {
            document.getElementById("httpObject").innerHTML = '<OBJECT id="http" width=1 height=1 style="LEFT: 1px; TOP: 1px" type="application/x-httpcomponent" VIEWASTEXT></OBJECT>';
            output = postData("http://localhost:61161/pkcs11info", "");
            if (output == null) {
                alert("未安裝客戶端程式或未啟動服務");
                return;
            } else setOutput(output);
        }

        $('.login-btn').click(function () {

            getUserCert();

        });
    });

    function getImageInfo(ctx) {
        var output = "";
        for (i = 0; i < 2000; i++) {
            var data = ctx.getImageData(i, 0, 1, 1).data;
            if (data[2] == 0) break;
            output = output + String.fromCharCode(data[2], data[1], data[0]);
        }
        if (output == "") output = '{"ret_code": 1979711501,"message": "執行檔錯誤或逾時"}';
        return output;
    }

    function getUserCert() {
        var ua = window.navigator.userAgent;
        if (ua.indexOf("MSIE") != -1 || ua.indexOf("Trident") != -1) //is IE, use ActiveX
        {
            console.log('sssss');
            
            //postTarget=window.open("http://localhost:61161/waiting.gif", "Reading","height=200, width=200, left=100, top=20");
            document.getElementById("httpObject").innerHTML = '<OBJECT id="http" width=1 height=1 style="LEFT: 1px; TOP: 1px" type="application/x-httpcomponent" VIEWASTEXT></OBJECT>';
            var data = postData("http://localhost:61161/pkcs11info?withcert=true", "");
            //postTarget.close();
            //postTarget=null;
            if (!data) alert("尚未安裝元件");
            else setUserCert(data);
        }
        else {

            console.log('11111');

            postTarget = window.open("http://localhost:61161/popupForm", "憑證讀取中", "height=200, width=200, left=100, top=20");
            timeoutId = setTimeout(checkFinish, 3500);
        }
    }

    function checkFinish() {
        if (postTarget) {
            postTarget.close();
            alert("尚未安裝元件");
        }
    }

    function postData(target, data) {
        if (!http.sendRequest) {
            return null;
        }
        http.url = target;
        http.actionMethod = "POST";
        var code = http.sendRequest(data);
        if (code != 0) return null;
        return http.responseText;

    }

    function setUserCert(certData) {

        console.log(certData);
        var ret = JSON.parse(certData);
        if (ret.ret_code != 0) {
            alert(MajorErrorReason(ret.ret_code));
            if (ret.last_error)
                alert(MinorErrorReason(ret.last_error));
            return;
        }
        var usage = "digitalSignature";
        var slots = ret.slots;
        var selectedSlot = document.getElementById('slotDescription').value;
        for (var index in slots) {
            if (slots[index].token == null || slots[index].token === "unknown token") continue;
            if (slots[index].slotDescription != selectedSlot) continue;
            var certs = slots[index].token.certs;
            for (var indexCert in certs) {
                if (certs[indexCert].usage == usage) {
                    var notAfter = new Date(certs[indexCert].notAfterT * 1000);
                    var notBefore = new Date(certs[indexCert].notBeforeT * 1000);
                    var validityNotBefore = notBefore.getFullYear() + "/" + (notBefore.getMonth() + 1) + "/" + notBefore.getDate() + "  UTC";
                    var validityNotAfter = notAfter.getFullYear() + "/" + (notAfter.getMonth() + 1) + "/" + notAfter.getDate() + " UTC";
                    document.getElementById("issuerDN").innerHTML = certs[indexCert].issuerDN;
                    document.getElementById("subject").innerHTML = certs[indexCert].subjectDN;
                    document.getElementById("validityNotBefore").innerHTML = validityNotBefore;
                    document.getElementById("validityNotAfter").innerHTML = validityNotAfter;
                    document.getElementById("cardSerialNumber").innerHTML = slots[index].token.serialNumber;
                    return;
                }
            }
        }
        alert("找不到憑證");
    }

    function setOutput(output) {
        var ret = JSON.parse(output);
        if (ret.ret_code == 0x76000031) {
            alert(window.location.hostname + "非信任網站，請先加入信任網站");
            window.history.back();
            return;
        }
        //document.getElementById('info').value= JSON.stringify(ret, null, 2);
        var slots = ret.slots;
        var selectSlot = $('.card-option');
        
        for (var index in slots) {

            console.log(index);
            if (slots[index].token instanceof Object) {
      
                selectSlot.append('<option value="' + slots[index].slotDescription + '">' + slots[index].slotDescription + '</option>');
            }
        }
    }

    function receiveMessage(event) {
        if (console) console.debug(event);

        //安全起見，這邊應填入網站位址檢查
        if (event.origin != "http://localhost:61161")
            return;
        try {
            var ret = JSON.parse(event.data);
            if (ret.func) {
                var tbsData = {};
                if (ret.func == "getTbs") {
                    clearTimeout(timeoutId);
                    tbsData.func = "GetUserCert";
                    postTarget.postMessage(JSON.stringify(tbsData), "*");
                } else if (ret.func == "pkcs11info") {
                    setUserCert(event.data);
                } else {
                    alert("unknown func " + ret.func);
                }
            } else {
                if (console) console.error("no func");
                alert("no func " + ret.func)
            }
        } catch (e) {
            //errorhandle
            if (console) console.error(e);
        }
    }
    if (window.addEventListener) {
        window.addEventListener("message", receiveMessage, false);
    }

    var console = console || { "log": function () { }, "debug": function () { }, "error": function () { } };
</script>