﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@section scripts{

    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

        var contosoChatHubProxy = $.connection.roomHub;
    
        $.connection.hub.start({ jsonp: true }).done(function () {
            console.log("success");
            contosoChatHubProxy.invoke('getCurrentRoomConfig').done(function () {
                console.log('getCurrentRoomConfig success.');
            }).fail(function (error) {
                console.log('createRoom failed. Error: ' + error);
            });
           
        });

        contosoChatHubProxy.on('refreashRooms', function (data) {
        
            console.log(data);
           
        });
    </script>

}