﻿@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        公證室列表
        <small>公證室總數 共 105 間</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首頁</a></li>
        <li class="active">公證室</li>
    </ol>
</section>

<!-- Main content -->
<section class="content room-container">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <!-- small box -->
            <div class="input-group input-group" style="margin-bottom:20px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row room-block-row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
                <div class="inner">
                    <h3>0<span style="font-size: 14px;">人</span></h3>

                    <p>公證室名稱</p>
                </div>
                <div class="icon">
                    <i class="fa fa-plus"></i>
                </div>
                <a href="#" class="small-box-footer">
                    建立公證室 <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        @*<!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>10<span style="font-size: 14px;">人</span></h3>

                        <p>結婚書面公證</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>3<span style="font-size: 14px;">人</span></h3>

                        <p>房屋租賃契約</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>4<span style="font-size: 14px;">人</span></h3>

                        <p>公證遺囑</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->*@
    </div>
    @*<div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>1<span style="font-size: 14px;">人</span></h3>

                        <p>翻譯文件</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>

                        <p>統一企業用印</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>44</h3>

                        <p>User Registrations</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        進入 <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>*@
    <!-- /.row -->


</section>
<!-- /.content -->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">建立公證室</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">公證室名稱</label>
                            <input type="text" class="form-control" id="room-name" placeholder="請輸入名稱" />
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">進入密碼</label>
                            <input type="password" class="form-control" id="room-password" placeholder="輸入密碼" />
                        </div>
                        <div class="form-group">
                            <label>限制人數</label>
                            <select class="form-control" id="max-count">
                                <option value="2">2人</option>
                                <option value="3">3人</option>
                                <option value="4">4人</option>
                                <option value="5">5人</option>
                                <option value="6">6人</option>
                                <option value="7">7人</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-primary create-room-btn">建立並進入</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<form id="enter-room" action="@Url.Action("NotarizationRoom")" method="POST">
    <input type="hidden" name="roomId" value="" class="roomId"/>
</form>

<script type="text/html" id="create-room-template">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua" style="cursor:pointer" data-toggle="modal" data-target="#modal-default">
            <div class="inner">
                <h3>0<span style="font-size: 14px;">人</span></h3>

                <p>公證室名稱</p>
            </div>
            <div class="icon">
                <i class="fa fa-plus"></i>
            </div>
            <a href="#" class="small-box-footer">
                建立公證室 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="cert-room-template">
    <div class="col-lg-3 col-xs-6 cert-room-block">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3><span class="current-count"></span><span style="font-size: 14px;">人</span></h3>

                <p class="room-name"></p>
            </div>
            <div class="icon">
                <i class="fa fa-comments-o"></i>
            </div>
            <a href="#" class="small-box-footer enter-room-btn">
                進入 <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</script>
@section scripts{
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">

        var roomConfigs = [];
        var chatHubProxy = $.connection.roomHub;
        
        $.connection.hub.start({ jsonp: true }).done(function () {
            console.log('hubConnection succeeded');

            //呼叫 hub，取得目前已建立的公證室
            chatHubProxy.invoke('getCurrentRoomConfig').done(function () {
                console.log('getCurrentRoomConfig success.');
            }).fail(function (error) {
                console.log('createRoom failed. Error: ' + error);
            });

        }).fail(function (error) {
            console.log('hubConnection failed. Error: ' + error);
        });

        //取得目前最新已建立的公證室
        chatHubProxy.on('refreashRooms', function (data) {
            console.log(data);
            roomConfigs = data;

            renderRoomBlock(roomConfigs);
        });

        //建立公證室後，請建立者進入公證室
        chatHubProxy.on('enterNotarizationRoom', function (roomId) {
            $('.roomId').val(roomId);
            $('#enter-room').submit();
        });

        //進入公證室
        $('.room-container').on('click', '.enter-room-btn', function (e) {
            var $btn = $(e.target);
            $('.roomId').val($btn.attr('data-room-id'));
            $('#enter-room').submit();
        });

        $('.create-room-btn').click(function () {
            var roomName = $('#room-name').val();
            var roomPassword = $('#room-password').val();
            var maxCount = $('#max-count').val();

            //建立公證室，並刷新線上人的公證室列表
            chatHubProxy.invoke('createRoom', roomName, maxCount, roomPassword).done(function () {
                console.log('createRoom success');
            }).fail(function (error) {
                console.log('createRoom failed. Error: ' + error);
            });
        });


        //重新刷新公證室列表
        function renderRoomBlock(roomList) {

            $('.cert-room-block,.can-remove').remove();
            var $row = null;
            $('.room-block-row').each(function (index, element) {

                if ($(element).children('div').length < 4) {
                    $row = $(element);
                    return false;
                }
            });

            $.each(roomList, function (index, value) {
                if (!$row) {
                    $row = $('<div class="row room-block-row can-remove"></div>');
                }

                var $block = $($('#cert-room-template').html()).clone();

                $block.find('.room-name').text(value.Name);
                $block.find('.current-count').text(value.CurrentCount);
                $block.find('.enter-room-btn').attr('data-room-id', value.ID);
                $block.find('.enter-room-btn').attr('data-room-max-count', value.MaxCount);
                $row.append($block);

                if ($row.children('div').length == 4) {
                    $('.content').append($row);
                    $row = null;
                }
            });

            if ($row) {
                $('.content').append($row);
            }


        }

    </script>

}
