﻿@model Web.NotarizationBlockchain.Hubs.RoomConfig
@{
    ViewBag.Title = "NotarizationRoom";

}

<section class="content-header">
    <h1>
        技術合作合約(Technology Cooperation Agreement) - 公證室
        <small>公證人總數 共 4 人</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首頁</a></li>
        <li class="active">公證室</li>
    </ol>
</section>

<!-- Main content -->
<section class="content room-container">
    <!-- Small boxes (Stat box) -->
    @*<div class="row roommate-row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/c39.40.495.495a/s160x160/528126_601105776570929_1353563392_n.jpg?_nc_cat=101&_nc_ht=scontent.ftpe8-2.fna&oh=000ba172e67ba7abbb5a0d64c6f276ef&oe=5D1797B1" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">莊弘傑</h3>
                    <h5 class="widget-user-desc">資深工程師</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">身份 <span class="pull-right badge bg-blue">創建者</span></a></li>
                        <li><a href="#">公司名稱 <span class="pull-right badge bg-blue">新穎數位文創股份有限公司</span></a></li>
                        <li><a href="#">確認檔案 <span class="pull-right badge bg-red">尚未確認</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/p160x160/34962490_2041916015822113_8681297454148091904_n.jpg?_nc_cat=100&_nc_ht=scontent.ftpe8-2.fna&oh=1be8182059d984fbe0789b49a11ceb19&oe=5D4A0CCB" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">陳郁旻</h3>
                    <h5 class="widget-user-desc">資深經理</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">身份 <span class="pull-right badge bg-blue">受邀者</span></a></li>
                        <li><a href="#">公司名稱 <span class="pull-right badge bg-blue">光寶科技股份有限公司</span></a></li>
                        <li><a href="#">確認檔案 <span class="pull-right badge bg-red">尚未確認</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="https://scontent.ftpe8-4.fna.fbcdn.net/v/t1.0-1/p40x40/23167600_1550895301642438_4729407602211603195_n.jpg?_nc_cat=110&_nc_ht=scontent.ftpe8-4.fna&oh=801dea5d95b56d4f0ec433690df94b66&oe=5D13A09B" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">邱裕盛</h3>
                    <h5 class="widget-user-desc">業務資深專員</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">身份 <span class="pull-right badge bg-blue">受邀者</span></a></li>
                        <li><a href="#">公司名稱 <span class="pull-right badge bg-blue">光寶科技股份有限公司</span></a></li>
                        <li><a href="#">確認檔案 <span class="pull-right badge bg-red">尚未確認</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user-2">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow">
                    <div class="widget-user-image">
                        <img class="img-circle" src="../dist/img/user7-128x128.jpg" alt="User Avatar">
                    </div>
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">林洺全</h3>
                    <h5 class="widget-user-desc">專案經理</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">身份 <span class="pull-right badge bg-blue">受邀者</span></a></li>
                        <li><a href="#">公司名稱 <span class="pull-right badge bg-blue">光寶科技股份有限公司</span></a></li>
                        <li><a href="#">確認檔案 <span class="pull-right badge bg-red">尚未確認</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>*@

    <div class="row tool-row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">公證檔案</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>檔案名稱</th>
                                <th style="width: 100px">檔案大小</th>
                                <th style="width: 40px"></th>
                            </tr>
                            <tr>
                                <td>1.</td>
                                <td>
                                    <a href="#" class="mailbox-attachment-name">
                                        <i class="fa fa-paperclip"></i> 商務會議活動接待合同.docx
                                    </a>
                                </td>
                                <td>
                                    1,245 KB
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>
                                    <a href="#" class="mailbox-attachment-name">
                                        <i class="fa fa-paperclip"></i> 採購合約.docx
                                    </a>
                                </td>
                                <td>
                                    2.67 MB
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td><a href="#" class="mailbox-attachment-name"><i class="fa fa-camera"></i> photo1.png</a></td>
                                <td>
                                    2.67 MB
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>
                                    <a href="#" class="mailbox-attachment-name">
                                        <i class="fa fa-camera"></i> photo2.png
                                    </a>
                                </td>
                                <td>
                                    2.67 MB
                                </td>
                                <td>
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <button type="button" class="btn btn-block btn-danger btn-lg file-confirm-btn">確認檔案內容</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>


        </div>
        <div class="col-md-6">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="box box-primary direct-chat direct-chat-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">聊天通訊</h3>

                    <div class="box-tools pull-right">
                        <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="3 New Messages">3</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                            <i class="fa fa-comments"></i>
                        </button>

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left">陳郁旻</span>
                                <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/p160x160/34962490_2041916015822113_8681297454148091904_n.jpg?_nc_cat=100&_nc_ht=scontent.ftpe8-2.fna&oh=1be8182059d984fbe0789b49a11ceb19&oe=5D4A0CCB" alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                Is this template really for free? That's unbelievable!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">莊弘傑</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/c39.40.495.495a/s160x160/528126_601105776570929_1353563392_n.jpg?_nc_cat=101&_nc_ht=scontent.ftpe8-2.fna&oh=000ba172e67ba7abbb5a0d64c6f276ef&oe=5D1797B1" alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                You better believe it!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <div class="direct-chat-msg right">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-right">Sarah Bullock</span>
                                <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/c39.40.495.495a/s160x160/528126_601105776570929_1353563392_n.jpg?_nc_cat=101&_nc_ht=scontent.ftpe8-2.fna&oh=000ba172e67ba7abbb5a0d64c6f276ef&oe=5D1797B1" alt="Message User Image"><!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                You better believe it!
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        
                        <!-- /.direct-chat-msg -->
                    </div>
                    <!--/.direct-chat-messages-->
                    <!-- Contacts are loaded here -->
                    <div class="direct-chat-contacts">
                        <ul class="contacts-list">
                            <li>
                                <a href="#">
                                    <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="User Image">

                                    <div class="contacts-list-info">
                                        <span class="contacts-list-name">
                                            Count Dracula
                                            <small class="contacts-list-date pull-right">2/28/2015</small>
                                        </span>
                                        <span class="contacts-list-msg">How have you been? I was...</span>
                                    </div>
                                    <!-- /.contacts-list-info -->
                                </a>
                            </li>
                            <!-- End Contact Item -->
                        </ul>
                        <!-- /.contatcts-list -->
                    </div>
                    <!-- /.direct-chat-pane -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-flat">送出</button>
                            </span>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
            <!--/.direct-chat -->
        </div>
        <!-- /.col -->

    </div>
</section>
<script type="text/html" id="roommate-template">
    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user-2">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-yellow">
                <div class="widget-user-image">
                    <img class="img-circle" src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/c39.40.495.495a/s160x160/528126_601105776570929_1353563392_n.jpg?_nc_cat=101&_nc_ht=scontent.ftpe8-2.fna&oh=000ba172e67ba7abbb5a0d64c6f276ef&oe=5D1797B1" alt="User Avatar">
                </div>
                <!-- /.widget-user-image -->
                <h3 class="widget-user-username">莊弘傑</h3>
                <h5 class="widget-user-desc">資深工程師</h5>
            </div>
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a href="#">身份 <span class="pull-right badge bg-blue user-type">創建者</span></a></li>
                    <li><a href="#">公司名稱 <span class="pull-right badge bg-blue company">新穎數位文創股份有限公司</span></a></li>
                    <li><a href="#">確認檔案 <span class="pull-right badge is-file-confirm">尚未確認</span></a></li>
                </ul>
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
</script>
@section scripts{
    <script src="~/signalr/hubs"></script>

    <script type="text/javascript">
        var roomId = '@Model.ID';
        var userSN = '1';
      

        var roommates = [];
        var chatHubProxy = $.connection.roomHub;
        console.log($.connection.hub);
        $.connection.hub.qs = { 'type': 'notarizationRoom', 'roomId': roomId, 'userSN': userSN };
        $.connection.hub.logging = true;

        $.connection.hub.start({ jsonp: true }).done(function () {
            console.log('hubConnection succeeded');

            ////呼叫 hub，取得目前已建立的公證室
            //chatHubProxy.server.enterNotarizationRoom('莊弘傑', 'chuanghungchieh', roomId).done(function () {
            //    console.log('enterNotarizationRoom success.');
            //}).fail(function (error) {
            //    console.log('enterNotarizationRoom failed. Error: ' + error);
            //});
            //http://localhost:5555/Home/NotarizationRoom?roomId=619e23e7-49c0-4f3a-aa37-c0d73d6c6fbd

        }).fail(function (error) {
            console.log('hubConnection failed. Error: ' + error);
        });

        $('.file-confirm-btn').click(function (e) {
            var isConfirm = !$(e.target).is('.btn-success');

            $(e.target).toggleClass('btn-success btn-danger');
            if (isConfirm) {
                $(e.target).text('有待考慮檔案內容');
            } else {
                $(e.target).text('確認檔案內容');
            }
            chatHubProxy.server.sendFileConfirm(roomId, isConfirm).done(function () {
                console.log('sendFileConfirm success.');
            }).fail(function (error) {
                console.log('sendFileConfirm failed. Error: ' + error);
            });
        });

       
        //取得目前最新已建立的公證室
        chatHubProxy.on('refreashRooms', function (data) {
            console.log(data);
        });

        //取得目前最新室友
        chatHubProxy.on('refreashRoommate', function (data) {
            renderRoommateBlock(data)
        });

        function renderRoommateBlock(roomConfig) {

            $('.roommate-row').remove();
            var $row = null;
            $('.roommate-row').each(function (index, element) {
                if ($(element).children('div').length < 4) {
                    $row = $(element);
                    return false;
                }
            });

            $.each(roomConfig.Roommates, function (index, value) {
                if (!$row) {
                    $row = $('<div class="row roommate-row"></div>');
                }

                var $block = $($('#roommate-template').html()).clone();

                $block.find('.widget-user-username').text(value.Name);
                $block.find('.widget-user-desc').text(value.Title);
                $block.find('.user-type').text(value.UserType);
                $block.find('.company').text(value.Company);
                $block.find('.company').text(value.Company);
                var $isStatus = $block.find('.is-file-confirm');
                if (value.IsFileConfirm) {
                    $isStatus.addClass('bg-green');
                    $isStatus.text('確認');
                } else {
                    $isStatus.addClass('bg-red');
                    $isStatus.text('尚未確認');
                }

                $row.append($block);

                if ($row.children('div').length == 4) {
                    $row.insertBefore('.tool-row');
                    $row = null;
                }
            });

            if ($row) {
                $row.insertBefore('.tool-row');
            }


        }


    </script>

}
